body {
  font-family: $font-family-secondary;
  overflow-x: hidden !important;
  font-size: $font-size-base;
  color: $body-color;
  background-color: $body-bg;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: $font-family-base;
  line-height: 1.4;
  font-weight: 600;
}

::selection {
  background: rgba($primary, 0.9);
  color: $white;
}

a {
  text-decoration: none !important;
  transition: all 0.5s ease;
}

p {
  line-height: 1.6;
}


.navbar-heading {
  color: $dark;
  font-size: 13px;
  background-color: transparent !important;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 24px;
  text-transform: uppercase;
  font-family: $font-family-base;
  padding-left: 2px;
  padding-right: 2px;

  &:hover,
  &:active {
    color: $black;
    transition: none;
  }
}


.landingBG {
  // background: image-url('nap_space_nap_pod.jpeg');
  background: image-url('BG_image.jpg');
  background-size: cover;
  height: calc(100vh - 140px);
  background-position: bottom right;
  background-repeat: no-repeat;
  // background-attachment: fixed;
}
