<h1 class="card-title title text-dark">Bookings</h1>
<br>
<%# display upcoming naps %>
<div class="accordion"id="accordionPanelsStayOpenExample">
  <div class="accordion-item">
    <h2 class="accordion-header"id="panelsStayOpen-headingOne"><button class="accordion-button"type="button"data-bs-toggle="collapse"data-bs-target="#panelsStayOpen-collapseOne"aria-expanded="true"aria-controls="panelsStayOpen-collapseOne">My Upcoming Naps </button></h2>
    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
      <div class="accordion-body">
        <div class="row">
          <% if @bookings.empty? %>
            <p class="text-muted readmore"> You have no upcoming naps.</p>
          <% end %>
          <% @bookings.each do |booking| %>
            <%= render "booking", booking: booking, tab: "upcoming" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <%# display upcoming host bookings %>
  <% unless current_user.nap_spaces.empty? %>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="true" aria-controls="panelsStayOpen-collapseTwo">
          My Upcoming Host Bookings
        </button>
      </h2>
      <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingTwo">
        <div class="accordion-body">
          <div class="row">
            <% if @bookings_to_approve.empty? %>
              <p class="text-muted readmore"> You have no bookings to approve.</p>
            <% end %>
            <% @bookings_to_approve.each do |booking| %>
              <%= render "booking", booking: booking, tab: "upcoming-host" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <%# display all past bookings %>
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingThree">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="true" aria-controls="panelsStayOpen-collapseThree">
        Your Past Naps
      </button>
    </h2>
    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse show " aria-labelledby="panelsStayOpen-headingThree">
      <div class="accordion-body">
        <div class="row">
          <% if @bookings_past.empty? %>
            <p class="text-muted readmore"> You have no past naps.</p>
          <% end %>
          <% @bookings_past.each do |booking| %>
            <%= render "booking", booking: booking, tab: "past" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <%# display all past host bookings %>
  <% unless @bookings_past_host.empty? %>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingFour">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="true" aria-controls="panelsStayOpen-collapseThree">
          Your Past Host Bookings
        </button>
      </h2>
      <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse show " aria-labelledby="panelsStayOpen-headingFour">
        <div class="accordion-body">
          <div class="row">
            <% @bookings_past_host.each do |booking| %>
              <%= render "booking", booking: booking, tab: "past-host" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
