<strong>Start Date: <%= @booking.start_date %></strong> | <strong>End Date: <%= @booking.end_date %></strong>

<p><%= @booking.nap_space.description %></p>
<p>Location: <%= @booking.nap_space.address %></p>
