<div id="<%= dom_id nap_space %>">
  <p>
    <strong>Address:</strong>
    <%= nap_space.address %>
  </p>

  <p>
    <strong>Cost Per Hour:</strong>
    <%= nap_space.cost_per_hr %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= nap_space.image_url %>
  </p>
</div>
