<br>
<br>
<section class="bg-home d-flex align-items-center">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-lg-9 col-md-9">
        <div class="card login-page shadow rounded border-0">
          <div class="card-body">
            <h4 class="card-title text-center mb-3">Leave a Review</h4>
            <div class="row">
              <%= simple_form_for [ booking, review ], url: booking_reviews_path(booking), method: :post do |form| %>
                <%= form.input :rating%>
                <%= form.input :content, as: :text, class: "form-control-plaintext" %>
                <%= form.button :submit, class: "btn btn-primary" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--end container-->
